### Create sample data

In [1]:
import pandas as pd

# Generate a sample DataFrame
data = {
    'datetime': pd.to_datetime(['2023-04-01'] * 4 + ['2023-04-02'] * 4),
    'category': ['A', 'B', 'C', 'D', 'A', 'B', 'C', 'D'],
    'value': [100, 200, 300, 400, 110, 210, 310, 410]
}

sample_table = pd.DataFrame(data)

# Display the DataFrame
print(sample_table)

    datetime category  value
0 2023-04-01        A    100
1 2023-04-01        B    200
2 2023-04-01        C    300
3 2023-04-01        D    400
4 2023-04-02        A    110
5 2023-04-02        B    210
6 2023-04-02        C    310
7 2023-04-02        D    410

In [2]:
from TAI.analytics import DataAnalytics
da = DataAnalytics()

In [3]:
dd = da.calculate_category_weights(sample_table)
dd

    datetime category  value  percentage
0 2023-04-01        A    100   10.000000
1 2023-04-01        B    200   20.000000
2 2023-04-01        C    300   30.000000
3 2023-04-01        D    400   40.000000
4 2023-04-02        A    110   10.576923
5 2023-04-02        B    210   20.192308
6 2023-04-02        C    310   29.807692
7 2023-04-02        D    410   39.423077

In [4]:
pivot_table = dd.pivot_table(index=dd.iloc[:, 0], columns=dd.iloc[:, 1], values='percentage').reset_index()
pivot_table

category   datetime          A          B          C          D
0        2023-04-01  10.000000  20.000000  30.000000  40.000000
1        2023-04-02  10.576923  20.192308  29.807692  39.423077

In [ ]:
# Create the pivot table
pivot_table = dd.pivot_table(index='datetime', columns='category', values='percentage').reset_index()
pivot_table